<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Jquery UI (Datepicker) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>


<body style="height: 100%; overflow: hidden">

<div class="container" style="width: 60%; margin-bottom: 30%; ">        
 <h1 class="text-center my-4" style="margin: 15%;">Welcome to Artwork Gallery</h1>
  <div class="row">
    <div class="col">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Customer</div>
          <div class="card-body">
            <div class="card-body">
            <div class="list-group">
              <!-- <a class="list-group-item list-group-item-action"><h4>Customer Operations</h4></a> -->
              <a href= "{{ url_for('customer_insert') }}" class="list-group-item list-group-item-action list-group-item-primary">Insert Customer details</a>
              <a href= "{{ url_for('customer_search') }}" class="list-group-item list-group-item-action list-group-item-warning">Search Customer details</a>
              <a href="{{ url_for('customer_update') }}" class="list-group-item list-group-item-action list-group-item-secondary">Update Customer details</a>
              <a href="{{ url_for('customer_delete') }}" class="list-group-item list-group-item-action list-group-item-success">Delete Customer details</a>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Artist</div>
          <div class="card-body">
            <div class="card-body">
              <div class="list-group">
                <!-- <a class="list-group-item list-group-item-action"><h4>Artist Operations</h4></a> -->
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary" style="padding: 12%;">Insert Artist details</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning" style="padding: 6%;">&nbsp;&nbsp; View Artist details</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary" style="padding: 12%;">Update Artist details</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success" style="padding: 12%;">Delete Artist details</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
  </div>
</div>

        <!-- <div class="row">
            <div class="col">
                <form action="" method="post">
                    <div class="form-group">
                      <label for="exampleInputEmail1">User Name</label>
                      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
                </form>
            </div>
        </div>
    </div> -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>